body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('../images/blank_blackboard.jpg');
  background-repeat: repeat;
  background-size: 150%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.shopping-list {
  max-width: 470px;
  padding: 15px;
  margin: 0 auto;
}

.shopping-list .shopping-list-heading {
  margin-bottom: 10px;
}

.shopping-list-heading {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 7em;
  color: white;
  max-width: 560px;
}

.shopping-list .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
}

.shopping-list .form-control:focus {
  z-index: 2;
}

.shopping-list input[type="text"] {
  margin-bottom: -1px;
  border-radius: 10;
}

.shopping-list .btn {
  position: relative;
  background-color: #9c27b0;
  border: none;
  margin: 20px auto;
}

.shopping-list .btn:focus {
  outline: none;
}

.shopping-list .btn:hover {
  background-color: #ab47bc;
}

p {
  text-align: center;
  font-size: 1.25em;
  color: white;
  margin-top: 10px;
}

.list-all {
  max-width: 560px;
  padding: 15px;
  margin: 0 auto;
}

.list-group-item {
  background-color: #eeeeee;
  margin-right: 10px;
  font-size: 1.25em;
  font-weight: bold;
}

.list-item {
  color: #616161;
  margin-left: 20px;
}

.glyphicon-ok {
  color: #00c853;
}

.glyphicon-remove {
  color: #d50000;
}

.glyphicon-ok .glyph-list-ok {
  margin-right: 10px;
}

.glyphicon-remove .glyph-list-remove {
  margin-left: 10px;
}

.pull-right {
  float: right !important;
}

.glyph-list-ok:hover, .glyph-list-ok:active {
  color: #76ff03;
}

.glyph-list-remove:hover, .glyph-list-remove:active {
  color: #ff5252;
}

